<link rel="stylesheet" href="css/tabsRegistrosEmpresa.css">
<link rel="stylesheet" href="css/indicador.css">
<div class="main_2">
    <h3 class="titulo">
        Tareas y asistencias
    </h3>
    <main class="main">
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Tareas realizadas</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Entradas</label>
        <section id="content1">
            <div class="buscador">
                <i class="buscador_icono material-icons">search</i>
                <input class="form-control" placeholder="Buscar..." onkeyup="FiltrarTabla()" type="text" id="buscar"
                    name="">
            </div>

            {{#if tareas}}
            <table id="tabla" class="table">
                <thead>
                    <tr>
                        <th class="colUser" scope="col">Usuario</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Fecha - Hora</th>
                        <th scope="col">Ubicación</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each tareas}} <tr>
                        <td class="columnaUsuario" scope="row">
                            {{#if fotoPerfil}}

                            <img style="width: 70px" class="rounded-circle userTarea" src="img/perfiles/{{fotoPerfil}}">
                            {{else}}

                            <img style="width: 70px" class="rounded-circle userTarea" src="img/user.jpg">

                            {{/if}}
                            <a href="perfil?doc={{documento}}"> {{nombre}} {{apellido}}</a>

                        </td>
                        <td class="columnaTarea">
                            {{titulo}}
                        </td>
                        <td class="columnaTiempo">
                            {{#if inicio}}
                            {{dateFormat inicio "DD/MM/YY, h:mm:ss a"}}
                            {{else}}
                            {{#if fin}}
                            {{ fin}}
                            {{/if}}
                            {{/if}}
                        </td>
                        <td class="columnaUbicacion"> <button
                                onclick="abrirMapa({{latitud_ini}},{{longitud_ini}},{{latitud_fin}},{{longitud_fin}})" class="btnUbicacion"><i class="material-icons">my_location</i></button> </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            {{else}}
            <div id="lista_vacia">
                <img style="width: 50%" src="img/reloj-durmiendo.png">
                <p style="font-size: 20px">No se encontraron resultados</p>
                <p>La lista de tareas de sus empleados<br> esta vacia</p>
            </div>

            {{/if}}

        </section>

        <section id="content2">
            {{#if asistencias}}
            <table id="tabla" class="table">
                <thead>
                    <tr>
                        <th class="colUser" scope="col">Usuario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Captura</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>


                    {{#each asistencias}}
                    <tr>
                        <th class="columnaUsuario" scope="row">
                            {{#if fotoPerfil}}

                            <img style="width: 70px" class="rounded-circle userTarea" src="img/perfiles/{{fotoPerfil}}">
                            {{else}}

                            <img style="width: 70px" class="rounded-circle userTarea" src="img/user.jpg">

                            {{/if}}
                            <p>{{nombre}} {{apellido}}</p>
                        </th>
                        <td class="columnaTiempo">
                            {{dateFormat fecha "DD/MM/YY"}}
                        </td>

                        <td class="columnaTiempo">
                            {{dateFormat fecha "h:mm:ss a"}}
                        </td>
                        <td class="columnaCaptura">
                            <button id="captura" onclick="mostrarCaptura(this)" value="{{foto}}"><i
                                    class="material-icons">photo_camera</i></button>
                        </td>
                        <td class="columnaTipo">
                            {{#ifCond tipo "===" 0}}
                            <div class="indicadorRojo bg-danger"></div>
                            {{/ifCond}}
                            {{#ifCond tipo "===" 1}}
                            <div class="indicadorVerde bg-success"></div>
                            {{/ifCond}}
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            {{else}}
            <div id="lista_vacia">
                <img style="width: 50%" src="img/cama.png">
                <p style="font-size: 20px">No se encontraron resultados</p>
                <p>La lista de asistencias de sus empleados<br> esta vacia</p>
            </div>
            {{/if}}
        </section>

    </main>
</div>

<div id="modalUbicacion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lugar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
</div>


<div id="modalCaptura" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Captura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="imgCaptura" src="" alt="">
            </div>
        </div>
    </div>
</div>
<script src="js/registrosEmpresas.js"></script>
<script src="js/buscador.js"></script>
