<link rel="stylesheet" href="css/tabsRegistrosEmpresa.css">
<link rel="stylesheet" href="css/indicador.css">
<main>
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Tareas en proceso</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Entradas</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Buscar</label>
    <input type="text" name="tabs" id="buscar">

    <section id="content1">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="colUser" scope="col">Usuario</th>
                    <th scope="col">Tarea</th>

                    <th scope="col">Inicio / Fin</th>
                    <th scope="col">Estado</th>

                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                {{#if tareas}}

                {{#each tareas}} <tr>
                    <th class="columnaUsuario" scope="row">
                        {{#if fotoPerfil}}

                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="http://localhost:4005/img/perfiles/{{fotoPerfil}}">
                        {{else}}

                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="http://localhost:4005/img/user.jpg">

                        {{/if}}
                        <p>{{nombre}} {{apellido}}</p>
                    </th>
                    <td class="columnaTarea">
                        {{titulo}}
                    </td>
                    <td class="columnaTiempo">
                        {{#if inicio}}
                        {{dateFormat inicio "d/MM/YY, h:mm:ss a"}}
                        {{else}}
                        {{#if fin}}
                        {{ fin}}
                        {{/if}}
                        {{/if}}
                    </td>
                    <td class="columnaTiempo">
                        {{#if tipoUbic}}
                        Ubicacion Fin
                        {{else}}
                        Ubicacion inicio
                        {{/if}}
                    </td>

                    <td class="columnaUbicacion"> <button onclick="abrirMapa({{latitud}},{{longitud}})"
                            class="btn btn-primary">Ubicacion</button> </td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </section>

    <section id="content2">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="colUser" scope="col">Usuario</th>
                    <th scope="col">Tiempo</th>
                </tr>
            </thead>
            <tbody>
                {{#if asistencias}}

                {{#each asistencias}}
                <tr>
                    <th class="columnaUsuario" scope="row">
                        {{#if fotoPerfil}}
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="http://localhost:4005/img/perfiles/{{fotoPerfil}}">
                        {{else}}
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="http://localhost:4005/img/user.jpg">
                        {{/if}}
                        <p>{{nombre}} {{apellido}}</p>
                    </th>
                    <td class="columnaTiempo">
                       {{#if inicio}}
                        {{dateFormat inicio "d/MM/YY, h:mm:ss a"}}
                        {{else}}
                        {{#if fin}}
                        {{ fin}}
                        {{/if}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </section>
</main>


<div id="modalUbicacion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lugar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
</div>


<script src="js/registrosEmpresas.js"></script>