<link rel="stylesheet" href="css/personal.css">
<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->
<div class="main">
    <h3 class="titulo">
        Personal
    </h3>
    <div class="sessionLista">

        <div class="container">
            <div class="row">

                <div class="container-fluid seccion">
                    {{#if listaPersonal}}
                    <div id="agregar">
                        <button type="button" id="btnAddPerson" class="btn btn-info" data-toggle="modal"
                            data-target="#modalAddUser">
                            <i class="material-icons">
                                person_add
                            </i> Agregar usuarios </button>

                    </div>
                    <div class="buscador">
                        <i class="buscador_icono material-icons">search</i>
                        <input class="form-control" placeholder="Buscar..." onkeyup="FiltrarTabla()" type="text"
                            id="buscar" name="">
                    </div>
                    <div class="col-md-12">
                        <table id="tabla" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Documento
                                    </th>
                                    <th>
                                        Colaborador
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodyListos">


                                {{#each listaPersonal}}
                                <tr>
                                    <td>
                                        {{documento}}
                                    </td>
                                    <td>
                                        {{#if fotoPerfil}}
                                        <img class="fotoPerfilTabla" src="img/perfiles/{{fotoPerfil}}" alt="" />
                                        <p>{{nombre}} {{apellido}}</p>
                                        {{else}}
                                        <img class="fotoPerfilTabla" src="img/perfiles/user.jpg" alt="" />
                                        <p> {{nombre}} {{apellido}}</p>
                                        {{/if}}
                                    </td>
                                    <td>

                                        <div class="btn-group">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><i
                                                    class="material-icons">list_alt</i></button>
                                            <div class="dropdown-menu">
                                                <a data-toggle="modal" onclick="exportarAsistencias({{documento}})"
                                                    class="dropdown-item">Asistencias</a>
                                                <a data-toggle="modal" onclick="exportarTareas({{documento}})"
                                                    class="dropdown-item">Tareas</a>
                                            </div>
                                        </div>
                                        <button type="button" id="btnModalMensaje"
                                            onclick="abrirModalMensaje({{documento}})" class="btn btn-secondary">Enviar
                                            mensaje</button>

                                        <button onclick="despedirEmpleado({{documento}})" class="btn text-danger">
                                            <i class="material-icons">delete</i> </button>

                                        <a href="/perfil?doc={{documento}}"><i class="fas fa-eye"></i></a>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        {{else}}
                        <div id="lista_vacia">
                            <img style="width: 50%" src="img/personas.png">
                            <p style="font-size: 20px">No se encontraron resultados</p>
                            <p>La lista de empleados esta vacia</p>
                            <button type="button" id="btnAddPerson" class="btn btn-info" data-toggle="modal"
                                data-target="#modalAddUser">
                                <i class="material-icons">
                                    person_add
                                </i> Agregar usuarios </button>
                        </div>



                    </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>
<div id="spinner"></div>

<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar colaborador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <session>
                    <div>
                        <input placeholder="Cédula" id="buscadorUsuario" type="number" name="identificador">
                        <input type="submit" onclick="buscarUsuario()" value="Buscar">
                    </div>
                </session>
                <table style="display: none" id="tablaUsuarios" class="table">
                    <thead class="thead-light">
                        <tr>
                            <th class="colUser" scope="col">Usuario</th>
                            <th scope="col">correo</th>
                            <th scope="colacc">Acciones</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="/mensaje">
                    <input style="display: none" name="empleado" id="empleadoidMsj" type="text">

                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <Textarea name="mensaje" rows="4" class="form-control" id="contenidoMsj"
                                placeholder="Contenido"></Textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <! Will be used to display an alert to the user>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="modalAsistencias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informe de Asistencias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container opcionesFormato">
                <div class="fecha">
                    <label for="inicio">Fecha de inicio</label>
                    <input type="date" name="inicio" id="inputAsisInicio">
                    <label for="fin">Fecha de fin</label>
                    <input type="date" name="fin" id="inputAsisFin">
                </div>
                <div class="row">
                    <div id="btnDesAsisPDF" onclick="descargarAsistenciaspdf()" class="col pdf">
                    </div>
                    <div id="btnDesAsisCSV" onclick="descargarAsistenciascsv()" class="col csv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTareas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informe de Tareas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container opcionesFormato">
                <div class="fecha">
                    <label for="inicio">Fecha de inicio</label>
                    <input type="date" name="inicio" id="inputTareaInicio">
                    <label for="fin">Fecha de fin</label>
                    <input type="date" name="fin" id="inputTareaFin">
                </div>
                <div class="row">
                    <div id="btnDesTareaPDF" onclick="descargarTareaspdf()" class="col pdf">
                    </div>
                    <div id="btnDesTareaCSV" onclick="descargarTareascsv()" class="col csv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/buscador.js"></script>
<script src="js/personal.js"></script>