<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="/">TINE</a>
    <div id="vertical-bar"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
      aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample07">


      {{#if user}}


      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/personal">Personal</a>
        </li>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Informes
          </button>
          <div class="dropdown-menu">
            <a data-toggle="modal" data-target="#modalExportarAsistencias" class="dropdown-item"
              href="#">Asistencias</a>
            <a data-toggle="modal" data-target="#modalExportarTareas" class="dropdown-item" href="#">Tareas</a>
          </div>
        </div>
      </ul>

      <div class="reloj">
        <a href="https://time.is/Salto,_Salto" id="time_is_link" rel="nofollow" style="font-size:20px"></a>
        <span id="Salto__Salto_z15d" style="font-size:20px"></span>
        <script src="//widget.time.is/t.js"></script>
        <script>
          time_is_widget.init({ Salto__Salto_z15d: {} });
        </script>
      </div>
      {{else}}

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Otros</a>
        </li>
      </ul>

      {{/if}}

      <form id="datosSession" class="form-inline my-2 my-md-0">
        <div class="session"> {{#if user}}
          {{#if user.fotoPerfil}}
          <img src="http://localhost:4005/img/perfiles/{{user.fotoPerfil}}" alt="Foto Usuario">
          {{else}}
          <img src="http://localhost:4005/img/user.jpg" alt="Foto Usuario">
          {{/if}}
          <a href="/perfil">{{user.nombre}} {{user.apellido}}</a>
        </div>
        <a class="btn btn-danger" href="/logout">Salir</a>
        {{else}}
        <div class="opciones">
          <a href="/login" class="">Ingresar</a>
          <a href="/registrarse" class="">Registrarme</a>
        </div>
        {{/if}}
      </form>
    </div>
  </div>
</nav>

<div class="modal fade" id="modalExportarAsistencias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informe de Jornadas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="export-modal-body">
        <div class="pdf"></div>
        <div class="csv"></div>
      </div>-->
      <div class="container opcionesFormato ">
         <div class="row">
          <div onclick="descargarAsistenciaspdf()" class="col pdf">
          </div>
          <div onclick="descargarAsistenciascsv()" class="col csv">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalExportarTareas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informe de Tareas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container opcionesFormato">
        <div class="row">
          <div onclick="descargarTareaspdf()" class="col pdf">
          </div>
          <div onclick="descargarTareascsv()" class="col csv">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/exportador.js"></script>