<h1>Asistencias</h1>
<section id="content2">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="colUser" scope="col">Documento</th>
                <th class="colUser" scope="col">Nombre - apellido</th>
                <th class="colUser" scope="col">Fecha - hora </th>
            </tr>
        </thead>
        <tbody>
            {{#if asistencias}}

            {{#each asistencias}}
            <tr>
                <th class="columnaUsuario" scope="row">
                    <p>{{empleado_id}}</p>
                </th>
                <th class="columnaUsuario" scope="row">
                    <p>{{nombre}} {{apellido}}</p>
                </th>
                <td class="columnaTiempo">
                    {{#if inicio}}
                    {{inicio}}
                    {{else}}
                    {{#if fin}}
                    {{ " - " + fin}}
                    {{/if}}
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</section>